{
  "extends": "strongloop",
  "rules": {
    "comma-dangle": 1,
    "spaced-comment": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": 1,
    "space-in-parens": 1,
    "indent": 1,
    "new-cap": 1,
    "no-useless-call": 1,
  }
}
