*.cpuprofile
*.heapsnapshot
*.tar.gz
*.tgz
.env
.strong*
failed.txt
minkelite.db
node_modules
npm-debug.log
test/.vagrant/
test/SANDBOX*
test/app-prepare/node_modules
test/container
test/copy.out
test/receive-base
